body{
    /* perspective: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div{
    height: 500px;
    width: 500px;
    background-color: green;
}

h1{
    height: 250px;
    width: 250px;
    margin: 0px;
    background-color: rebeccapurple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    
}


h1:hover{
    transform: translate(250px ,250px)
}

/* #one:hover{
    background-color: orchid;
    transform: rotate(30deg)
}

#two:hover{
    background-color: red;
    transform: rotate(30deg)
} */

/* #two{
    transform-origin: top left;
    margin-bottom: 0px;
} */